/node_modules
/public/hot
public/front/css/bootstrap-rtl.css
public/front/css/style-RTL.css
resources/views/front/partials/style.blade.php
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
