body {
    direction: rtl;
}

#nav {
    text-align: right;
}

.mappeeeeliiiii {
    margin: 0;
    margin-top: 10px;
}

.modelSarch .form-group input {
    padding-right: 70px;
    padding-left: 0;
    margin: 5px 0;
}

.modelSarch .form-group .btn_search {
    top: 0;
}

.alloffevent .alloffevent .Owlalloffeventslider {
    direction: ltr;
}

.special-products .slider-items-products .owl-buttons .owl-prev {
    top: -45px;
    left: 40px;
    right: auto;
}

.special-products .slider-items-products .owl-buttons .owl-next {
    left: 85px;
    top: -45px;
    right: auto;
}

.alloffevent .alloffevent .Owlalloffeventslider .off_content .content {
    direction: rtl;
    text-align: right;
}

.footer .footercontent .form-group button {
    left: -10px;
    right: auto;
    transform: rotate(180deg);
}

.footer .footercontent .footerItem {
    border-left: 1px solid rgba(80, 84, 100, 0.4);
    padding-right: 70px;
    border-right: none;
    padding-left: 0;
}

.footer .footercontent .openintime {
    border-left: 1px solid rgba(80, 84, 100, 0.4);
    border-right: 0;
}

.footer .footercontent .newsleter {
    border-left: 1px solid rgba(80, 84, 100, 0.4);
    padding-left: 15px;
    border-right: 0;
}

.footer .footercontent .form-group input {
    margin: 10px 0;
}

.footer .footercontent .Links {
    border-left: 1px solid rgba(80, 84, 100, 0.4);
    border-right: 0;
}

.BannerSlider .Boxessser .boxItem .images .imgone {
    right: -105px;
}

.BannerSlider .Boxessser .boxItem .images .imgtwo {
    left: -55px;
}

.BannerSlider .Boxessser .boxItem .images .imgthree {
    left: -65px;
}

.BannerSlider .Boxessser .boxItem .images .imgfoure {
    right: -105px;
}

.BannerSlider .Boxessser .boxtwo {
    text-decoration: none;
}

.ENLI {
    display: inline-block !important;
}

.ARLI {
    display: none !important;
}

.jtv-top-links {
    float: inherit;
}

.offerpages .offerpagescontent .leftbarfixed .serach input {
    margin: 0;
}

.offerpages .offerpagescontent .leftbarfixed .serach {
    height: 45px;
}

.offerpages .offerpagescontent .leftbarfixed .serach .iconn {
    left: 0;
    right: auto;
}

.offerpages .offerpagescontent .offerpagesoff .off_content .content {
    text-align: right;
}

.offerpages .offerpagescontent .offerpagesoff .off_content .content {
    text-align: right;
}

.servicepage .servicepagecontent .servicepageItem .linkserv .sername {
    margin: 0px 30px 0px 0;
}

.emojyfeature .emojyfeaturecontent .liuldet ul li::before {
    right: -35px;
    left: auto;
}

.giftpage .whattodo .whatcontent .stepsss .stepone::after {
    left: 0;
    transform: translateX(0) rotate(180deg);
    right: auto;
}

.giftpage .whattodo .whatcontent .stepsss .steptwo::after {
    left: 0;
    transform: translateX(0) rotate(180deg);
    right: auto;
}

.giftpage .whattodo .whatcontent .stepsss .stepthree::after {
    left: 0;
    transform: translateX(0) rotate(180deg);
    right: auto;
}

.modal-header {
    text-align: right;
}

.modalquestions .modal-header .close {
    left: 10px;
    position: absolute;
}

.giftpage .havques .havecontent .questioncontent .quseionitem .buttons button {
    text-align: right;
}

.giftpage .giftbaneer {
    background-image: url(../images/slider/AVIARTL.jpg);
}

.giftpage .giftbaneer .baneercontent .masterimages ul li {
    float: right;
}

.modalquestions .modal-body .offershop .categoryimg {
    right: 5%;
    left: auto;
}

.emojy .imojyBanner {
    background-image: url(../images/slider/AVIARTLTWO.jpg);
}

.offerpages .offerpagescontent .leftbarfixed .listlinkssear ul li a span {
    text-align: left;
    float: left;
}

@media(max-width:768px) {
    .mm-toggle-wrap {
        top: -40px;
        left: 15px;
    }
    .jtv-mobile-menu {
        box-sizing: border-box;
        float: left;
        list-style-type: none;
        margin: 0;
        padding-right: 0;
        position: relative;
        width: 100%;
        /* padding: 0; */
    }
    .jtv-mobile-menu .input-group-btn>.btn {
        height: 36px;
        position: relative;
        top: 42px;
        z-index: 999;
        color: #f00;
        background: #f000;
    }
    .jtv-mobile-menu .input-group .form-control {
        padding-right: 30px;
    }
    .footer .footercontent .footerItem {
        padding-right: 0;
    }
    .giftpage .discription .disccontent {
        width: 100%;
    }
    .giftpage .whattodo .whatcontent .stepsss .stepone::after {
        transform: translateX(0) rotate(90deg);
    }
    .giftpage .whattodo .whatcontent .stepsss .steptwo::after {
        transform: translateX(0) rotate(90deg);
    }
    .giftpage .whattodo .whatcontent .stepsss .stepthree::after {
        transform: translateX(0) rotate(90deg);
    }
}